html {
    font-size: 15px;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: $vrdarkmagenta;
    background: url(../images/bg-pattern-top-mobile.svg) top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) bottom no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    > * {
        margin: 0 1.5rem;
        max-width: 35rem;
    }
    
    .upper-half {
        text-align: center;
        margin-top: 5.33rem;

        .intro {

            h1 {
                font-weight: 700;
                font-size: 2rem;
                color: $vrdarkmagenta;
                line-height: 1;
                letter-spacing: -0.1rem;
            }
        
            p {
                font-size: 0.907rem;
                color: $darkgrymagenta;
                font-weight: 500;
                line-height: 1.6;
                margin-top: 1.5rem;
            }
        }

        .ratings {
            margin-top: 3rem;
    
            .review {
                border-radius: 0.66rem;
                background: $lightgrymagenta;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                &:not(:last-child) { 
                    margin-bottom: 1rem;
                }
    
                .stars {
                    margin: 1rem 0;
                    display: flex;
                    justify-content: inherit;
                    align-items: center;
    
                    img {
                        margin: 0 0.3rem;
                    }
                }
    
                p {
                    margin-bottom: 1rem;
                    font-weight: 700;
                    color: $vrdarkmagenta;
                }
            }
        }
    }

    .bottom-half {
        margin-top: 3.0625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .testemonial-card {
            background: $vrdarkmagenta;
            border-radius: 0.667rem;

            &:not(:last-child) {
                margin-bottom: 1.0667rem;
            }

            &:last-child {
                margin-bottom: 6.667rem;
            }

            .info {
                padding: 2.5rem 2rem 2.125rem;

                .profile {
                    display: flex;
                    flex-direction: row;
                    line-height: 1.5;
                    margin-bottom: 1.867rem;
                    
    
                    img {
                        border-radius: 50%;
                        height: 2.8rem;
                        width: 2.8rem;                        
                    }
    
                    .details {
                        display: flex;
                        flex-direction: column;
                        margin-left: 1.533rem;

                        p {
                            &.name {
                                color: $white;
                                font-weight: 700;
                            }
            
                            &.verif-buyer {
                                color: $softpink;
                            }
                        }
                    }
                    
                }

                .description {
                    color: $lightgrymagenta;
                    text-align: left;
                }
            }    
        }
    }
}

