html {
    font-size: 15px;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    color: $vrdarkmagenta;
    background: url(../images/bg-pattern-top-mobile.svg) top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) bottom no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: column;

    h1 {
        font-weight: 700;
        color: $vrdarkmagenta;
    }

    p {
        color: $darkgrymagenta;
        font-weight: 500;
    }
}

