@media only screen and (min-width: 90em) {
    body {
        background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
        background-size: 40.5%, 78.5%;
    }

    main {

        > * {
            margin: 0 10.8667rem;
            max-width: 75rem;
        }

        .upper-half {
            margin-top: 8.533rem;
            display: flex;
            text-align: left;
            

            .intro {
                max-width: 48.47%;
                margin-right: 6.25rem;

                h1 {
                    font-size: 3.05rem;
                }
            }

            .ratings {
                width: 100%;
                margin: 0;
                margin-left: 3.1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                > * {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

                .review {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &:first-child {
                        align-self: flex-start;
                        margin-top: 0.926rem;
                    }

                    &:last-child {
                        align-self: flex-end;
                    }

                    .stars {
                        margin: 1.25rem 0 1.25rem 1.75rem;
                    }

                    p {
                        margin: unset;
                        min-width: 20ch;
                        margin: 0 2.8rem 0 1.1rem;
                    }
                }
             }
        }

        .lower-half {
            margin-top: 4.933rem;
            height: 18rem;

            .users {
                display: flex;
                align-items: center;
                column-gap: 2rem;
                height: 100%;

                > * {
                    margin-top: unset;
                }

                .user {
                    
                    &:first-child {
                        align-self: flex-start;
                    }

                    &:last-child {
                        align-self: flex-end;
                    }
                }
            }
        }
    }
}
